<!DOCTYPE html>
<!-- Questo template.html funzionerà da modello principale.
 I nostri modelli figli erediteranno il codice da esso -->

<html lang=""it" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Flask Parent Template</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">First web App</h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}"">Home</a></li>
                        <li><a href="{{ url_for('index') }}"">Index</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>

        <!--- Le due righe con le parentesi graffe verranno sostituite dal contenuto delle pagine figlio.
        Ciò dipenderà dall'URL in cui l'utente sta navigando-->
        {% block content %}
        {% endblock %}

    </body>
</html>